@media (min-width: 1800px) {
.container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1440px;
  }
}
@media (min-width: 1600px) and (max-width: 1799.98px) {
.container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1440px;
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
.project-list .project-item .project-image {
    height: 262px;
  }

  .team-page .team_wrapper .volunteer_img {
    height: 262px;
  }

  .team-page .team_wrapper .volunteer_icon {
    left: 41%;
  }

  .team-page .team_wrapper .volunteer_text {
    padding: 20px 15px;
  }

  .team-page .team_wrapper .volunteer_text h3 a {
    font-size: 24px;
  }

  .what-we-do-page .image {
    height: 347px;
  }

  .what-we-do-page .text {
    margin-left: 30px;
  }

  .what-we-do-page h3 {
    padding-left: 30px;
  }

  #banner .banner-img .banner_five_text {
    height: 100px;
  }
#banner .banner-img .banner_five_text a {
font-size: 40px;
  line-height: 60px;
}

#banner .banner-img {
  padding: 470px 0 100px;
}

#what_we_do {
  padding: 50px 0;
}

#about {
  padding: 30px 0 40px;
}
.event_para {
  padding-right: 0px;
}
#events,
#counter,
#news {
  padding: 40px 0 40px;
}

#partner {
  padding: 40px 0 80px 0;
}

#footer {
  padding: 40px 0 30px 0;
}

.navbar-brand img {
  width: 120px !important;
}

nav .container .navbar-nav li {
  margin: 0 10px;
}

nav .container .search {
  margin-right: 15px;
}

.btn_navber {
  padding: 7px 15px;
}

nav .container .navbar-nav li a {
  font-size: 16px;
}

.event_big_img {
  height: 395px;
}

.about_top_boxed_icon img {
  width: 100px;
  height: 100px;
}

.about_top_boxed_text h3 {
  font-size: 25px;
}

.about_top_boxed_vector img {
  width: 70px;
}

.about_top_boxed {
  height: 250px;
}

.blog_card_img {
  height: 237px;
}

.blog_card_heading h3 a {
  font-size: 22px;
}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .project-list .project-item .project-image {
      height: 232px;
    }
  
    .project-list .project-item .project-text .info {
      padding: 25px;
    }
  
    .project-list .project-item .project-text .info .title {
      font-size: 22px;
    }
  
    .publication .list .item .text a h4 {
      font-size: 20px;
    }
  
    .team-page .team_wrapper .volunteer_img {
      height: 296px;
    }
  
    .what-we-do-page .image {
      height: 262px;
    }
  
    .what-we-do-page .text {
      margin-left: 10px;
    }
  
    .what-we-do-page h3 {
      padding-left: 10px;
    }
  
    #banner .banner-img .banner_five_text {
      height: 100px;
    }
  
    #banner .banner-img .banner_five_text a {
      font-size: 35px;
      line-height: 60px;
    }
  
    #banner .banner-img {
      padding: 430px 0 70px;
    }
#what_we_do {
  padding: 50px 0;
}

#about {
  padding: 30px 0 40px;
}

#events,
#counter,
#news {
  padding: 40px 0 40px;
}

#partner {
  padding: 40px 0 80px 0;
}

#footer {
  padding: 40px 0 30px 0;
}
.event_para {
  padding-right: 0;
}

.about_top_boxed_icon img {
  width: 100px;
  height: 100px;
}

.about_top_boxed_text h3 {
  font-size: 25px;
}

.about_top_boxed_vector img {
  width: 70px;
}

.about_top_boxed {
  height: 250px;
}

.event_big_img {
  height: 395px;
}

.event_date {
  right: 20px;
}

.blog_card_heading h3 a {
  font-size: 25px;
}

.blog_card_img {
  height: 197px;
}
}
@media (min-width: 768px) and (max-width: 991.98px) {
.team-page .team_wrapper .volunteer_img {
    height: 336px;
  }

  .what-we-do-page .image {
    height: 475px;
  }

  .what-we-do-page h3 {
    padding: 20px 0;
    padding-left: 0;
  }

  .what-we-do-page .text {
    margin-left: 0px;
  }

  #banner .banner-img .banner_five_text {
    height: 100px;
    padding-left: 20px;
    margin-left: 50px;
  }

  #banner .banner-img .banner_five_text a {
    font-size: 32px;
    line-height: 50px;
  }

  #banner .banner-img {
    padding: 380px 0 80px;
  }
#what_we_do {
  padding: 40px 0;
}

#about {
  padding: 30px 0 40px;
}

#events,
#counter,
#news {
  padding: 40px 0 40px;
}

#partner {
  padding: 40px 0 80px 0;
}

#footer {
  padding: 40px 0 30px 0;
}
.blog_card_wrapper {
  margin-bottom: 24px;
}

.blog_card_img {
  width: 100%;
  height: 420px;
}

.blog_card_img a {
  height: 100%;
  width: 100%;
}

.event_date {
  right: 20px;
}

.event_para {
  padding-right: 0px;
}

.about_area_heading {
  left: -75px;
}

.about_area_img img {
  padding: 0;
}
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .project-list .project-item .project-image {
      height: 232px;
    }
  
    .project-list .project-item .project-text .info {
      padding: 25px;
    }
  
    .project-list .project-item .project-text .info .title {
      font-size: 22px;
    }
  
    .team-page .team_wrapper .volunteer_img {
      height: 246px;
    }
  
    .what-we-do-page .image {
      height: 355px;
    }
  
    .what-we-do-page h3 {
      padding: 20px 0;
      padding-left: 0;
    }
  
    .what-we-do-page .text {
      margin-left: 0px;
    }
  
    #banner .banner-img .banner_five_text {
      height: 70px;
      padding-left: 20px;
      margin-left: 50px;
    }
  
    #banner .banner-img .banner_five_text a {
      font-size: 30px;
      line-height: 40px;
    }
  
    #banner .banner-img {
      padding: 350px 0 80px;
    }
#what_we_do {
  padding: 40px 0;
}

#about {
  padding: 30px 0 40px;
}

#events,
#counter,
#news {
  padding: 40px 0 40px;
}

#partner {
  padding: 40px 0 80px 0;
}

#footer {
  padding: 40px 0 30px 0;
}
#banner .icon {
  top: unset;
  bottom: 0%;
}

.blog_card_wrapper {
  margin-bottom: 24px;
}

.blog_card_img {
  width: 100%;
  height: 420px;
}

.blog_card_img a {
  height: 100%;
  width: 100%;
}

#banner .banner-img .image {
  height: 576px;
}
#banner .banner-img .banner_text a>span {
  text-align: start;
}

.about_top_boxed_icon img {
  width: 100px;
  height: 100px;
}

.about_top_boxed_text h3 {
  font-size: 25px;
}

.about_top_boxed_vector img {
  width: 70px;
}

.about_top_boxed {
  height: 250px;
}

.event_date {
  right: 20px;
}

.event_para {
  padding-right: 0px;
}

.blog_card_img {
  height: 340px;
}

.blog_card_heading h3 a {
  font-size: 22px;
}

.about_area_heading {
  left: -75px;
}

.about_area_img img {
  padding: 0;
}
}
@media (max-width: 575.98px) {
.team-page .team_wrapper .volunteer_img {
    height: 350px;
  }

  .what-we-do-page .image {
    height: 255px;
  }

  .what-we-do-page h3 {
    padding: 20px 0;
    padding-left: 0;
  }

  .what-we-do-page .text {
    margin-left: 0px;
  }

  #banner .banner-img .banner_five_text {
    height: 100px;
    padding-left: 20px;
    margin-left: 30px;
  }

  #banner .banner-img .banner_five_text a {
    font-size: 28px;
    line-height: 30px;
  }

  #banner .banner-img {
    padding: 350px 0 80px;
  }
#what_we_do {
  padding: 40px 0;
}

#about {
  padding: 30px 0 40px;
}

#events,
#counter,
#news {
  padding: 40px 0 40px;
}

#partner {
  padding: 40px 0 80px 0;
}

#footer {
  padding: 40px 0 30px 0;
}
#banner .icon {
  top: unset;
  bottom: 0%;
}

.blog_card_wrapper {
  margin-bottom: 24px;
}

.blog_card_img {
  width: 100%;
  height: 420px;
}

.blog_card_img a {
  height: 100%;
  width: 100%;
}

#banner .banner-img .image {
  height: 576px;
}
#banner .banner-img .banner_text a>span {
  text-align: start;
}

.about_top_boxed_icon img {
  width: 100px;
  height: 100px;
}

.about_top_boxed_text h3 {
  font-size: 25px;
}

.about_top_boxed_vector img {
  width: 70px;
}

.about_top_boxed {
  height: 250px;
}

.event_date {
  right: 20px;
}

.event_para {
  padding-right: 0px;
}

.blog_card_img {
  height: 240px;
}

.blog_card_heading h3 a {
  font-size: 22px;
}

#banner .icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}

.mobile-topbar .bars i {
  width: 40px;
  height: 40px;
  font-size: 17px;
  line-height: 40px;
}

.btn_md {
  padding: 9px 25px;
}

.vedio_btn {
  margin-left: 15px;
}

.vedio_btn i {
  margin-right: 5px;
}

.event_big_img {
  height: 285px;
}

#partner .owl-carousel .owl-item img {
  margin-left: 55px;
}

.about_area_heading {
  left: -75px;
}

.about_area_img img {
  padding: 0;
}
}

/*# sourceMappingURL=responsive.css.map */
