/* Error: Undefined variable.
 *    ,
 * 55 |   background-color: $themeColor;
 *    |                     ^^^^^^^^^^^
 *    '
 *   sass\common\_common.scss 55:21  @import
 *   sass\pages\_home.scss 1:9       @import
 *   sass\style.scss 3:9             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 55 \2502    background-color: $themeColor;\d\a    \2502                      ^^^^^^^^^^^\a    \2575 \a   sass\\common\\_common.scss 55:21  @import\a   sass\\pages\\_home.scss 1:9       @import\a   sass\\style.scss 3:9             root stylesheet";
}
