@media (min-width:1800px){}

@media (min-width:1600px) and (max-width:1799.98px){}

@media (min-width:1400px) and (max-width:1599.98px){

.common--title {
font-size: 45px;
  line-height: 50px;
}

// end of common

.banner .banner--item .banner--overlay .banner--content {
padding: 280px 0 0 90px;

.banner--title {
font-size: 65px;
}
}

// end of banner

.tab-content,
.services--list {
padding-left: 40px;
}

.service-box,
.product-box,
.project-box {
  h3 {
    font-size: 45px;
    line-height: 50px;
  }
}
// end of service

.projects .projects--main {
margin: 60px 40px 0;
}

// end of project

.why--choose--us--bg .why--choose--text--slider .why--choose--text--slider--title,
.pricing--plan .pricing--plan--text--slider .pricing--plan--text--slider--title {
font-size: 140px !important;
}

// end of why us

.awards .awards--main .awards--item {
.awards--title h3 {
    font-size: 25px;
  }

.awards--date h4 {
font-size: 22px;
}
}

// end of award

.achievement .achievement--main {
margin: 60px 40px 0;

.achievement--item {
width: 300px;
  height: 300px;
  padding: 100px;

h3 {
font-size: 50px;
}
}
}

// end of achieved

.pricing--plan .pricing--plan--main .pricing--plan--item .prices .total--price {
font-size: 45px;
}

// end of pricing

footer .footer--bg .footer--main--content {
.footer--title {
    font-size: 24px;
  }

.footer--about h4 {
font-size: 38px;
}

}
}

@media (min-width:1200px) and (max-width:1399.98px){
.common--title {
font-size: 40px;
  line-height: 45px;
}
.common--subtitle {
font-size: 30px;
}
.common--button {
font-size: 15px;
  padding: 12px 30px;
  margin-top: 30px;
}

.testimonial,
.achievement,
.experiance--banner,
.awards,
.why--choose--us,
.services,
.services .services--bg,
.projects,
.about,
.news,
footer,
.contact-page {
  padding-top: 65px;
}

.pricing--plan .pricing--plan--bg,
.experiance--banner .experiance--banner--bg,
.why--choose--us .why--choose--us--bg,
footer .footer--bg .footer--main--content .footer--about,
.portfolio-single .project-detail,
.testimonial .testimonial--bg,
.contact-form {
  padding: 65px 0;
}

.awards .awards--main,
.news .news--main {
margin-top: 50px;
}

// end of common

.bread-crumb .overlay {
  padding: 110px 0;
}

// end of breadcrumb
.banner .banner--item .banner--overlay .banner--content {
padding: 260px 0 0 90px;

.banner--title {
font-size: 60px;
  line-height: 60px;
}
}

// end of banner

.about--page .award .award--main .award--item {
  width: 250px;
  height: 250px;
  padding: 30px;

  .icon img {
    width: 50px;
  }

  .text h3 {
    font-size: 36px;
  }
}

// end of about 
.tab-content {
padding-left: 40px;
}

.services .services--bg .services--main .nav-pills .nav-link .service--item .service--title {
font-size: 24px;
}
.service--image {
width: 430px;
}
.service-single .project-detail {
  margin-bottom: -65px !important;
}

.rl-service .text {
  width: 240px;
}
.service-box .small-image {
  width: 385px;
}

.service-box,
.product-box,
.project-box {
  h3 {
    font-size: 40px;
    line-height: 45px;
  }
}
// end of service

.why--choose--us--bg .why--choose--text--slider .why--choose--text--slider--title,
.pricing--plan .pricing--plan--text--slider .pricing--plan--text--slider--title {
font-size: 130px !important;
}

.news-details-page .product-box .image {
  height: 500px;
}
// end of why us

// .awards .awards--main .awards--item {
//   .awards--title h3 {
//     font-size: 24px;
//   }

// .awards--date h4 {
//   font-size: 20px;
// }

// .awards--logo img {
//   width: 140px;
// }
// }

// end of award

.achievement .achievement--main {
margin: 60px 65px 0;

.achievement--item {
width: 280px;
  height: 280px;
  padding: 70px;

h3 {
font-size: 45px;
}
}
}

// end of achieved

.testimonial .testimonial--bg {
padding-bottom: 140px;

.testimonial--main {
margin-top: 50px;

.testimonial--text {
p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
  }

h4 {
  font-size: 22px;
}
}

.testimonial--image {
width: 180px;
  height: 180px;

&::before {
height: 180px;
}
}
}
}

// end of testimonial

.pricing--plan .pricing--plan--main .pricing--plan--item {
padding: 45px;
  min-height: 260px;

.prices .total--price {
font-size: 40px;
}
}

// end of pricing

.news--item .news--text {
margin-top: 20px;

.news--title {
font-size: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
}
}
.news-list .news--item .news--image {
height: 244px;
}
.partner-list .news--item .news--image {
  height: 135px;
  width: 135px;
}

.project-list .news--item .news--image {
  height: 190px;
}
// end of news


footer .footer--bg {
padding: 50px 0 0px 0;

.footer--main--content {
.footer--title {
    font-size: 22px;
  }

.footer--about h4 {
font-size: 32px;
}
}
}
}

@media (min-width:992px) and (max-width:1199.98px){

.common--title {
font-size: 35px;
  line-height: 40px;
}
.common--subtitle {
font-size: 25px;
}
.common--button {
font-size: 15px;
  padding: 12px 30px;
  margin-top: 20px;
}
.testimonial,
.achievement,
.experiance--banner,
.awards,
.why--choose--us,
.services,
.services .services--bg,
.projects,
.about,
.news,
footer,
.about--page,
.about--page .our--services,
.contact-page {
  padding-top: 60px;
}

.pricing--plan .pricing--plan--bg,
.experiance--banner .experiance--banner--bg,
.why--choose--us .why--choose--us--bg,
footer .footer--bg .footer--main--content .footer--about,
.about--page .our--services .services--bg,
.about--page .award .award--bg,
.portfolio-single .project-detail,
.testimonial .testimonial--bg,
.contact-form {
  padding: 60px 0;
}

.awards .awards--main,
.news .news--main {
margin-top: 45px;
}
.news--item .news--image {
  height: 224px !important;
}
// end of common

.mobile-menu {
background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.mobile-topbar {
background-color: transparent;
}

// menu part end


.bread-crumb .overlay {
  padding: 100px 0;
}
.bread-crumb .overlay .text h3 {
	font-size: 42px;
	line-height: 50px;
}
// end of breadcrumb

.banner .banner--item .banner--overlay .banner--content {
padding: 260px 0 0 100px;

.banner--title {
font-size: 50px;
  line-height: 55px;
}
}

.banner {
.slick-dots {
    display: block !important;
  }

.icon {
display: none !important;
}
}

// end of banner

.about--page .award .award--main .award--item {
  width: 250px;
  height: 250px;
  margin: 0 auto;

  .icon img {
    width: 50px;
  }

  .text h3 {
    font-size: 36px;
  }
}

// end of about

.services .services--bg .services--main .nav-pills .nav-link .service--item {
.service--arrow {
    right: -45px;
  }

.service--title {
font-size: 22px;
}
}

.service--image {
width: 300px;
}

.about--page .our--services .services--bg .services--main .service--item h4 {
  font-size: 22px;
}

.call-expert a .call {
  width: 200px;
  padding: 15px 20px;
}

.call-expert a .text {
  font-size: 35px;
}

.rl-service .image {
  width: 80px;
  margin-bottom: 10px;

  i {
    padding: 18px;
    font-size: 35px;
  }
}

.rl-service .text {
  width: 210px;

  h4 {
    padding-bottom: 5px;
  }
}
.service-box .small-image {
  width: 290px;
}

.service-box,
.product-box,
.project-box {
  h3 {
    font-size: 35px;
    line-height: 40px;
  }
}
// end of service

.why--choose--us .why--choose--us--bg .choose--item .choose--title--box {
.choose--item--icon {
    width: 60px;
    height: 60px;
    padding: 15px;
  }

.choose--item--title {
font-size: 20px;
// padding-top: 15px;
}
}

.why--choose--us--bg .why--choose--text--slider .why--choose--text--slider--title,
.pricing--plan .pricing--plan--text--slider .pricing--plan--text--slider--title {
font-size: 120px !important;
}
.news-details-page .product-box .image {
	height: 400px;
}

// end of why us

.portfolio-single .project-banner {
height: 550px;
}

.portfolio-single .project-detail .project-info-box .info .list li h5 {
font-size: 22px;
}
.project-box ul {
  display: inline-block;
}

.project-box .small-image {
  width: 100%;
}
// end of project

// .awards .awards--main .awards--item {
//   .awards--title h3 {
//     font-size: 22px;
//   }

// .awards--date h4 {
//   font-size: 18px;
// }

// .awards--logo img {
//   width: 130px;
// }
// }

// end of award

// .achievement .achievement--main {
//   margin: 60px 50px 0;

// .achievement--item {
//     width: 240px;
  //     height: 240px;
  //     padding: 70px;

// h3 {
//     font-size: 45px;
  //   }
  // }
  // }
  // end of achieved

.testimonial .testimonial--bg {
padding-bottom: 140px;

.testimonial--main {
margin-top: 40px;

.testimonial--text {
p {
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 15px;
  }

h4 {
  font-size: 22px;
}
}

.testimonial--image {
width: 170px;
  height: 170px;

&::before {
height: 170px;
  right: -30px;
}
}
}
}

// end of testimonial

// .pricing--plan .pricing--plan--main .pricing--plan--item {
//   padding: 30px;
//   min-height: 260px;

// .prices .total--price {
//     font-size: 40px;
  //   }

// .prices {
//   margin-left: 0;
//   margin-top: 35px;
// }
// }

// end of pricing

// .news--item .news--text {
//   margin-top: 15px;
// .news--title {
//     font-size: 20px;
//     margin-top: 10px;
//     margin-bottom: 15px;
//   }
// .learn--more {
//   padding-top: 15px;
// }
// }
// .news-list .news--item .news--image {
//   height: 204px;
// }
.partner-list .news--item .news--image {
  height: 135px !important;
  width: 135px;
}

.project-list .news--item .news--image {
  width: 40%;
  height: 125px !important;
}

.project-list .news--item .news--text {
  width: 60%;
}
// end of news

footer .footer--bg {
padding: 40px 0 0px 0;

.footer--main--content {
.footer--title {
    font-size: 22px;
  }

.footer--about h4 {
font-size: 32px;
}
}
}

}

@media (min-width:768px) and (max-width:991.98px){
.common--title {
font-size: 35px;
  line-height: 40px;
}
.common--subtitle {
font-size: 25px;
}
.common--button {
font-size: 15px;
  padding: 12px 30px;
  margin: 20px 0;
}
.testimonial,
.achievement,
.experiance--banner,
.awards,
.why--choose--us,
.services,
.services .services--bg,
.projects,
.about,
.news,
footer,
.about--page,
.about--page .our--services,
.contact-page {
  padding-top: 65px;
}

.pricing--plan .pricing--plan--bg,
.experiance--banner .experiance--banner--bg,
.why--choose--us .why--choose--us--bg,
footer .footer--bg .footer--main--content .footer--about,
.about--page .our--services .services--bg,
.contact-form {
  padding: 65px 0;
}

.awards .awards--main,
.news .news--main {
margin-top: 50px;
}

// end of common

.mobile-menu {
background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.mobile-topbar {
background-color: transparent;
}

.bread-crumb .overlay {
  padding: 100px 0;
}
.bread-crumb .overlay .text h3 {
	font-size: 42px;
	line-height: 50px;
}
// end of breadcrumb
// menu part end

.about .about--image {

.about--image--big {
max-width: 100%;
}

.about--image--sm {
margin-right: 0;
  margin-top: -200px;
}

}

.about--page .award .award--main .award--item {
  width: 250px;
  height: 250px;
  margin: 0 auto;

  .icon img {
    width: 50px;
  }

  .text h3 {
    font-size: 36px;
  }
}
// end of about


.banner .banner--item .banner--overlay .banner--content {
padding: 260px 0 0 0;

.banner--title {
font-size: 45px;
  line-height: 55px;
}
}

.banner {
.slick-dots {
    display: block !important;
  }

.icon {
display: none !important;
}
}

// end of banner

.services .services--bg .services--main .nav-pills .nav-link .service--item {
.service--title {
    font-size: 24px;
  }
.service--title,
.service--descriptoin {
// font-size: 22px;
  max-width: 90%;
}
}

.service--image {
margin-bottom: 40px;
  width: 100%;
  transform: rotate(30deg);
  transition: all 0.5s ease;

&::before {
content: none !important;
}
}

.tab-pane.show {
.service--image {
    transform: rotate(0deg) !important;
  }
}
.service-box .small-image {
  margin-bottom: 70px;
  width: 350px;
}

.service-box,
.product-box,
.project-box {
  h3 {
    font-size: 35px;
    line-height: 40px;
  }
}
// end of servive

.why--choose--us--bg {
padding-top: 90px !important;
}
.why--choose--us--bg .why--choose--text--slider {
top: 4% !important;

.why--choose--text--slider--title {
font-size: 100px !important;
}
}
.news-details-page .product-box .image {
	height: 470px;
}
// end of why us

.projects .projects--main .projects--item .projects--image .projects--text .projects--title {
font-size: 22px;
}

.portfolio-single .project-banner {
height: 400px;
}

.portfolio-single .project-detail .project-info-box .info .list li h5 {
font-size: 22px;
}


// end of project
.awards .awards--main .awards--item {
.awards--title h3 {
    font-size: 26px;
  }

.awards--date h4 {
font-size: 22px;
}

.awards--logo img {
width: 130px;
}
}

// end of award

.achievement .achievement--main {
margin: 60px 0 0;

.achievement--item {
width: 320px;
  height: 240px;
  padding: 70px;
  border-radius: 5%;
  margin: 0 auto;

h3 {
font-size: 45px;
}
}
}

// end of achieved

.testimonial .testimonial--bg {
padding: 70px 0;
  // padding-bottom: 0px;

.testimonial--main {
margin-top: 40px;

.testimonial--text {
text-align: center;

p {
font-size: 18px;
  line-height: 26px;
  margin: 20px 0;
}

h4 {
  font-size: 24px;
}
}

.testimonial--image {
width: 180px;
  height: 180px;
  margin: 0 auto;

&::before {
content: none !important;
}
}
}
}
// end of testimonial

.pricing--plan {
.pricing--plan--bg {
    padding-top: 90px !important;
  }

.pricing--plan--text--slider {
top: 4% !important;

.pricing--plan--text--slider--title {
    font-size: 100px !important;
  }
}

.pricing--plan--main .pricing--plan--item {
padding: 40px;
  min-height: 250px;

.prices .total--price {
    font-size: 42px;
  }

.prices {
  margin-left: 0;
}

.best--price {
font-size: 15px;
  top: 35px;
  right: -45px;
  left: unset;
  transform: rotate(409deg);
}
}

}

// end of pricing
.news-list .news--item .news--image {
height: 230px;
}

.news-details-page .news-right .info-block .small-news-item .recent-news .image {
width: 100px;
  height: 69px;
}

.client-item .testimonial--image {
  width: 160px;
  height: 160px;
}

.client-item .testimonial--text p {
  font-size: 18px;
  line-height: 30px;
}

.partner-list .news--item .news--image {
  height: 135px !important;
  width: 135px;
}
// end of news

footer .footer--bg {
padding: 40px 0 0px 0;

.footer--main--content {
.footer--links {
    padding-top: 0px;
  }
.footer--title {
  font-size: 22px;
}

.footer--about {
border-right: none;

h4 {
font-size: 35px;
}

}
}
}
// end of footer

.contact-page .contact-box .contact-box-content .contact-box-title {
  font-size: 25px;
}

// end of contact us
}

@media (min-width:576px) and (max-width:767.98px) {
  .service-single .project-banner {
      height: 350px !important;
    }
.common--button {
font-size: 15px;
  padding: 12px 30px;
  margin: 20px 0;
}

p {
font-size: 15px;
  line-height: 26px;
}

.testimonial,
.achievement,
.experiance--banner,
.awards,
.why--choose--us,
.services,
.services .services--bg,
.projects,
.about,
.news,
footer,
.about--page,
.about--page .our--services,
.contact-page {
  padding-top: 65px;
}

.pricing--plan .pricing--plan--bg,
.experiance--banner .experiance--banner--bg,
.why--choose--us .why--choose--us--bg,
footer .footer--bg .footer--main--content .footer--about,
.about--page .our--services .services--bg,
.contact-form {
  padding: 65px 0;
}
// menu part start
.mobile-menu {
background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.mobile-topbar {
background-color: transparent;
}

// menu part end

.bread-crumb .overlay {
  padding: 90px 0;
}
.bread-crumb .overlay .text h3 {
	font-size: 34px;
	line-height: 42px;
}
// end of breadcrumb

// banner part start
.banner .banner--item {
height: 55vh;
}

.banner .banner--item .banner--overlay .banner--content {
padding: 170px 0;
}

.common--subtitle {
font-size: 22px;
}

.banner .banner--item .banner--overlay .banner--content .banner--title {
font-size: 31px;
  font-weight: 700;
  line-height: 38px;
  margin-top: 10px;
  color: #ffffff;
  text-transform: capitalize;
}

.banner {
.slick-dots {
    display: block !important;
  }

.icon {
display: none !important;
}
}

// banner part end

// about part start
.about {
.about--text {
margin-bottom: 30px;
}
}

.common--title {
font-size: 32px;
  line-height: 38px;
}

.about .about--image .about--image--big {
max-width: unset;
}

.about .about--image .about--image--sm {
display: none;
}
.about--page .award .award--main .award--item {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}
.icon img {
    width: 50px;
  }
.services .services--bg .services--main .nav-pills .nav-link .service--item {
.service--title {
    font-size: 24px;
  }
.service--title,
.service--descriptoin {
// font-size: 22px;
  max-width: 90%;
}
}

.service--image {
  margin-bottom: 40px;
  width: 100%;
  transform: rotate(30deg);
  transition: all 0.5s ease;

&::before {
content: none !important;
}
}

.tab-pane.show {
.service--image {
    transform: rotate(0deg) !important;
  }
}

.service-box .small-image {
  margin-right: 0;
  margin-bottom: 30px;
  width: 100%;
}

.service-box,
.product-box,
.project-box {
  h3 {
    font-size: 35px;
    line-height: 40px;
  }
}

.service-box {
  .text {
    margin-bottom: 30px;
  }
}

.rl-service {
  padding-bottom: 0;
}
// end of servive


// projects part start

.projects .projects--main {
margin-top: 30px;
}

.projects .projects--main .project--sorting:nth-child(2n) {
margin-top: 0;
}

.projects .projects--main .project--sorting+.project--sorting {
margin-top: 24px;
}

.projects .projects--main .projects--item .projects--image .projects--text .projects--title {
font-size: 18px;
}

.projects .projects--main .projects--item .projects--image .projects--text .projects--tagline {
font-size: 14px;
}

.projects .projects--main .projects--item .projects--image .projects--text {
padding: 20px;
  padding-bottom: 20px;
}
.portfolio-single .project-banner {
height: 350px;
}

.portfolio-single {
padding-top: 60px;
}

.portfolio-single .project-detail {
padding: 0 0;
}

.portfolio-single .project-detail .project-info-box .info .list li h5 {
font-size: 22px;
}
.project-box ul {
  display: inline-block;
}

.project-box .small-image {
  margin: 20px 0;
  width: 100%;
}

.project-box p:last-child {
  padding-top: 20px;
}
.project-info h5 {
  font-size: 18px;
}
// projects part end
// why choose us part start

.why--choose--us .why--choose--us--bg .services--title {
position: static;
  margin-bottom: 30px;
}

.why--choose--us .why--choose--us--bg .choose--item .choose--title--box .choose--item--title {
padding-top: 0;
  font-size: 22px;
}

.why--choose--us .why--choose--us--bg .choose--item .choose--title--box {
margin-bottom: 20px;
  min-height: 70px;
  display: flex;
  align-items: center;
}
.why--choose--us .why--choose--us--bg .choose--item .choose--img {
width: 100%;
  height: auto;
}

.why--choose--us .why--choose--us--bg .choose--item .choose--desc {
width: 100%;
  padding-left: 0;
}

.why--choose--us .why--choose--us--bg .choose--item .choose--desc .choose--title--box {
margin-top: 10px;
  margin-bottom: 20px;
}
.news-details-page .product-box .image {
	height: 380px;
}
// why choose us part end
// awards part start
.awards {
.awards--logo {
text-align: left !important;
  margin: 10px 0;
}
}

.awards .awards--main {
margin-top: 30px;
}

.awards .awards--main .awards--item .awards--title h3 {
font-size: 24px;
  margin-bottom: 10px;
}

.awards .awards--main .awards--item .awards--date h4 {
font-size: 20px;
}

.awards .awards--main .awards--item+.awards--item {
margin-top: 0px;
}

.pricing--plan .pricing--plan--main .pricing--plan--item .best--price {
top: 30px;
  transform: rotate(-317deg);
  right: -30px;
}

// awards part end
// experiance banner part start

// experiance banner part end
// achievement part start

.achievement .achievement--main {
margin-top: 30px;
}

.achievement .achievement--main .achievement--item {
border-radius: 10px;
  width: 100%;
  height: auto;
  margin: 0 0;
  padding: 60px;
  margin-bottom: 24px;
}

// achievement part end

// testimonial part start
.testimonial {
padding-top: 36px;
}

.testimonial .testimonial--bg .testimonial--main {
margin-top: 30px;
}

.testimonial .testimonial--bg {
padding: 60px 0;
  padding-bottom: 160px;
}

.testimonial .testimonial--bg .testimonial--main .testimonial--image::before {
display: none;
}

.testimonial .testimonial--bg .testimonial--main .testimonial--image {
width: 170px;
  height: 170px;
  margin: 0 auto;
}

.testimonial .testimonial--text {
text-align: center;
  margin-top: 30px;
}

.testimonial .testimonial--bg .testimonial--main .testimonial--text p {
font-size: 16px;
  line-height: 26px;
  margin-bottom: 24px;
}

.testimonial .arrow.left {
left: calc(50% - 30px);
  transform: translateX(-50%);
}

.testimonial .arrow.right {
left: calc(50% - -30px);
  transform: translateX(-50%);
}

// testimonial part end
// pricing plan part start

.pricing--plan .pricing--plan--main .pricing--plan--title {
position: static;
  margin-bottom: 24px;
}

.pricing--plan .pricing--plan--main .pricing--plan--item {
padding: 26px;
}

.pricing--plan .pricing--plan--main .pricing--plan--item .prices {
margin-left: 0;
  margin-bottom: 24px;
}

.pricing--plan .pricing--plan--main .pricing--plan--item .best--price {
left: unset;
  transform: rotate(-311deg);
  right: -44px;
}

// pricing plan part end
// news part start

.news .news--main {
margin-top: 30px;
}
.news-list .news--item {
.news--image {
    height: 169px;
  }

.news--text {
  padding: 20px;
}
}

.news-details-page .news-right .info-block .small-news-item .recent-news .image {
width: 100px;
  height: 69px;
}
.client-item {
  min-height: 575px;
}

.client-item .testimonial--image {
  width: 130px;
  height: 130px;
}

.client-item .testimonial--text p {
  font-size: 17px;
  line-height: 28px;
}

.partner-list .news--item .news--image {
  height: 125px !important;
  width: 125px;
}

.project-list .news--item .news--image {
  width: 40%;
  height: 125px !important;
}

.project-list .news--item .news--text {
  width: 60%;
  padding: 0 0 0 25px;
}
// news part end
// footer part start
footer {
.social--links {
text-align: left !important;
}
}

footer .footer--bg .footer--main--content .footer--about {
  border-right: none
}
footer .footer--bg .footer--top .social--links ul li {
margin-left: 0;
  margin-right: 16px;
  margin-bottom: 5px;
}

footer .footer--bg .footer--main--content .footer--about {
padding: 40px 0;
}

footer .footer--bg .footer--main--content .footer--links {
padding-top: 0px;
}

.footer--btm .text {
text-align: left !important;
}

// footer part end
.contact-page .contact-box .contact-box-content .contact-box-title {
  font-size: 25px;
}
// end of contact us
}

@media (max-width:575.98px) {

p {
font-size: 15px;
  line-height: 26px;
}

.testimonial,
.achievement,
.experiance--banner,
.awards,
.why--choose--us,
.services,
.services .services--bg,
.projects,
.about,
.news,
footer,
.about--page,
.about--page .our--services,
.portfolio-single,
.contact-page {
  padding-top: 60px;
}

.pricing--plan .pricing--plan--bg,
.experiance--banner .experiance--banner--bg,
.why--choose--us .why--choose--us--bg,
footer .footer--bg .footer--main--content .footer--about,
.about--page .our--services .services--bg,
.about--page .award .award--bg,
.contact-form {
  padding: 60px 0;
}

.view-all-btn {
  font-size: 18px;
}
// end of common
// menu part start
.mobile-menu {
background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.mobile-topbar {
background-color: transparent;
}

// menu part end

.bread-crumb .overlay {
  padding: 90px 0;
}
.bread-crumb .overlay .text h3 {
	font-size: 34px;
	line-height: 42px;
}
// end of breadcrumb


// banner part start
.banner .banner--item {
height: 55vh;
}

.banner .banner--item .banner--overlay .banner--content {
padding: 134px 0;
  text-align: center;
}

.common--subtitle {
font-size: 20px;
}

.banner .banner--item .banner--overlay .banner--content .banner--title {
font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  margin-top: 10px;
  color: #ffffff;
  text-transform: capitalize;
}

.banner {
.slick-dots {
    display: block !important;
  }

.icon {
display: none !important;
}
}

// banner part end

// about part start
.about {

.about--text {
margin-bottom: 30px;
}
}

.common--title {
font-size: 24px;
  line-height: 32px;
}

.about .about--image .about--image--big {
max-width: unset;
}

.about .about--image .about--image--sm {
display: none;
}
.about--page .award .award--main .award--item {
  width: 250px;
  height: 250px;
  margin: 0 auto;

  .icon img {
    width: 50px;
  }

    .text h3 {
      font-size: 36px;
    }
    }
// about part end
// services part start
.services .services--bg .services--main .nav-pills .nav-link .service--item {
.service--title {
    font-size: 24px;
  }
.service--title,
.service--descriptoin {
// font-size: 22px;
  max-width: 90%;
}
}

.service--image {
margin-bottom: 40px;
  width: 100%;
  transform: rotate(30deg);
  transition: all 0.5s ease;

&::before {
content: none !important;
}
}

.tab-pane.show {
.service--image {
    transform: rotate(0deg) !important;
  }
}
.rl-service {
  padding-bottom: 0;
}

.rl-service .image {
  margin-bottom: 10px;
}

.service-box .small-image {
  margin-right: 0;
  margin-bottom: 30px;
  width: 100%;
}

.service-box,
.product-box,
.project-box {
  h3 {
    font-size: 35px;
    line-height: 40px;
  }
}

.service-box {
  .text {
    margin-bottom: 30px;
  }
}
// services part end

// projects part start


.projects .projects--main {
margin-top: 30px;
}

.projects .projects--main .project--sorting:nth-child(2n) {
margin-top: 0;
}

.projects .projects--main .project--sorting+.project--sorting {
margin-top: 24px;
}

.projects .projects--main .projects--item .projects--image .projects--text .projects--title {
font-size: 18px;
}

.projects .projects--main .projects--item .projects--image .projects--text .projects--tagline {
font-size: 14px;
}

.projects .projects--main .projects--item .projects--image .projects--text {
padding: 20px;
  padding-bottom: 20px;
}
.portfolio-single .project-banner {
height: 300px;
}


.portfolio-single .project-detail {
padding: 0 0;
}

.portfolio-single .project-detail .project-info-box .info .list li h5 {
font-size: 20px;
}
.project-box ul {
  display: inline-block;
}

.project-box .small-image {
  margin: 20px 0;
  width: 100%;
}

.project-box p:last-child {
  padding-top: 20px;
}
// projects part end


// why choose us part start
.why--choose--us .why--choose--us--bg .services--title {
position: static;
  margin-bottom: 30px;
}

.why--choose--us .why--choose--us--bg .choose--item .choose--title--box .choose--item--title {
padding-top: 0;
  font-size: 22px;
}

.why--choose--us .why--choose--us--bg .choose--item .choose--title--box {
margin-bottom: 20px;
  min-height: 70px;
  display: flex;
  align-items: center;
}
.why--choose--us .why--choose--us--bg .choose--item .choose--img {
width: 100%;
  height: auto;
}

.why--choose--us .why--choose--us--bg .choose--item .choose--desc {
width: 100%;
  padding-left: 0;
}
.news-details-page .product-box .image {
	height: 300px;
}
.product-box .image img {
  object-fit: contain;
}
// why choose us part end
// awards part start
.awards {

.awards--logo {
text-align: left !important;
  margin: 10px 0;
}
}

.awards .awards--main {
margin-top: 30px;
}

.awards .awards--main .awards--item .awards--title h3 {
font-size: 24px;
  margin-bottom: 10px;
}

.awards .awards--main .awards--item .awards--date h4 {
font-size: 20px;
}

.awards .awards--main .awards--item+.awards--item {
margin-top: 0px;
}

// awards part end
// experiance banner part start

// experiance banner part end
// achievement part start

.achievement .achievement--main {
margin-top: 30px;
}

.achievement .achievement--main .achievement--item {
border-radius: 10px;
  width: 100%;
  height: auto;
  margin: 0 0;
  padding: 60px;
  margin-bottom: 24px;
}

// achievement part end

// testimonial part start
.testimonial {
padding-top: 36px;
}

.testimonial .testimonial--bg .testimonial--main {
margin-top: 30px;
}

.testimonial .testimonial--bg {
padding: 60px 0;
  padding-bottom: 160px;
}

.testimonial .testimonial--bg .testimonial--main .testimonial--image::before {
display: none;
}

.testimonial .testimonial--bg .testimonial--main .testimonial--image {
width: 170px;
  height: 170px;
  margin: 0 auto;
}

.testimonial .testimonial--text {
text-align: center;
  margin-top: 30px;
}

.testimonial .testimonial--bg .testimonial--main .testimonial--text p {
font-size: 16px;
  line-height: 26px;
  margin-bottom: 24px;
}

.testimonial .arrow.left {
left: calc(50% - 30px);
  transform: translateX(-50%);
}

.testimonial .arrow.right {
left: calc(50% - -30px);
  transform: translateX(-50%);
}

// testimonial part end
// pricing plan part start

.pricing--plan .pricing--plan--main .pricing--plan--title {
position: static;
  margin-bottom: 24px;
}

.pricing--plan .pricing--plan--main .pricing--plan--item {
padding: 26px;
}

.pricing--plan .pricing--plan--main .pricing--plan--item .prices {
margin-left: 0;
  margin-bottom: 24px;
}

.pricing--plan .pricing--plan--main .pricing--plan--item .best--price {
left: unset;
  transform: rotate(-311deg);
  right: -44px;
}

// pricing plan part end
// news part start

.news .news--main {
margin-top: 30px;
}

.news-list .news--item .news--image {
height: auto;
}

.news-details-page .news-right .info-block .small-news-item .recent-news .image {
width: 100px;
  height: 69px;
}
.partner-list .news--item .news--image {
  height: 135px !important;
  width: 135px;
}

.project-list .news--item .news--image {
  width: 100%;
}

.project-list .news--item .news--text {
  width: 100%;
  padding: 25px 25px 0 25px;
}
// news part end
// footer part start
footer {
.social--links {
text-align: left !important;
}
}

footer .footer--bg .footer--top .social--links ul li {
margin-left: 0;
  margin-right: 16px;
  margin-bottom: 5px;
}

footer .footer--bg .footer--main--content .footer--about {
padding: 40px 0;
}

footer .footer--bg .footer--main--content .footer--links {
padding-top: 0px;
}

.footer--btm .text {
text-align: left !important;
}

// footer part end
.contact-page .contact-box .contact-box-content .contact-box-title {
  font-size: 25px;
}
}

// @media (max-width:480.98px) {

// }