$white: #ffffff;
$black: #2a283e;
$theme: #a48fc5;
$bg: #eef4f8;
$bg2: #c7bbd947;
$green: #1E5F1D;
$para: #818090;
$logo1: #C7EAFC;
$logo2: #8E75B5;
$logo3: #01FFFF;
$title: #00B2B2;
$transition: 0.4s all ease-in-out;