@import "../variable/variable";
@import "../mixin/font";

.about {
  padding-top: 80px;

  .about--text {
    .about--description {
      margin-top: 20px;
      text-align: justify;
    }

    .about--list-info {
      margin-top: 24px;

      li {
        line-height: 26px;
        position: relative;
        padding-left: 24px;

        i {
          position: absolute;
          top: 5px;
          left: 0;
        }
      }

      li+li {
        margin-top: 12px;
      }
    }
  }

  .about--image {
    .about--image--big {
      max-width: 418px;
      margin-left: auto;
      border-radius: 10px;

      img {
        border-radius: 10px;
      }
    }

    .about--image--sm {
      max-width: 449px;
      margin-left: auto;
      margin-right: 65px;
      margin-top: -120px;
      border-radius: 10px;

      img {
        border-radius: 10px;
      }

      .about--since {
        top: -57px;
        right: 46px;

        h4 {
          @include font(22px, 600);
          width: 120px;
          height: 120px;
          background-color: $themeColor;
          border-radius: 50%;
          text-align: center;
          padding: 35px 30px;
        }
      }
    }
  }
}