@import "../variable/variable";
@import "../mixin/font";

.awards {
  padding-top: 80px;

  .awards--main {
    margin-top: 60px;

    .awards--item {
      border-bottom: 1px solid #ddd;
      padding: 20px 0;

      a {
        color: $black;
      }

      .awards--title {
        h3 {
          @include font(28px, 700);
        }
      }

      .awards--date {
        span {
          @include font(15px, 400);
          margin-bottom: 10px
        }

        h4 {
          @include font(24px, 600);
        }
      }

      .awards--logo {
        img {
          width: 160px;
        }
      }
    }

    .awards--item:first-child {
      border-top: 1px solid #ddd;
    }

    .awards--item+.awards--item {
      margin-top: 30px;
    }
  }
}