@import "../variable/variable";
@import "../mixin/font";

#banner {
  .banner-img {
    // padding: 0 0 0 100px;
      // background-repeat: no-repeat;
      // background-size: cover;
      // height: 80vh;
      background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 550px 0 100px;
      .banner_five_text {
          width: 80%;
            height: 80px;
          display: flex;
          align-items: start;
          flex-direction: column;
          justify-content: center;
          padding-left: 20px;
            margin-left: 80px;
            border-left: 12px solid $theme;
      
          h6 {
            color: $white;
            font-size: 18px;
            padding-bottom: 12px;
      
            span {
              color: $theme;
            }
          }
      
          a {
            color: $white;
            font-size: 40px;
            font-weight: 600;
            line-height: 80px;
            text-transform: uppercase;
              letter-spacing: 0.3em;
          }
        }
.image {
    position: relative;
    text-align: right;
    width: 100%;
      height: 735px;

&>img {
    width: 100%;
    height: 100%;
object-fit: cover;
}

// position: relative;

.banner_element .banner_text {
  position: absolute;
  top: 0;
}
.banner_element img {
  position: absolute;
  box-shadow: 10px 12px 30px rgba(0, 0, 0, 0.1);
}

.element_1 {
  top: 44%;
  left: 64px;
}

.element_2 {
  top: 23%;
  right: -14%;
}

.element_3 {
  bottom: 0;
  left: 67%;
}

.shape-1 {
  -webkit-animation: left1right 5s linear 0s infinite;
  animation: left1right 5s linear 0s infinite;
}

@keyframes left1right {
  50% {
    -ms-transform: translateY(20px);
    /* IE 9 */
    -webkit-transform: translateY(20px);
    /* Chrome, Safari, Opera */
    transform: translateY(20px);
  }
}

.shape-2 {
  -webkit-animation: left2right 3s linear 0s infinite;
  animation: left2right 3s linear 0s infinite;
}

@keyframes left2right {
  50% {
    -ms-transform: translateY(20px);
    /* IE 9 */
    -webkit-transform: translateY(20px);
    /* Chrome, Safari, Opera */
    transform: translateY(20px);
  }
}

.shape-3 {
  -webkit-animation: left13right 9s linear 0s infinite;
  animation: left3right 9s linear 0s infinite;
}

@keyframes left3right {
  50% {
    -ms-transform: translateY(20px);
    /* IE 9 */
    -webkit-transform: translateY(20px);
    /* Chrome, Safari, Opera */
    transform: translateY(20px);
  }
}
}

.banner_text {
  p {
    padding-top: 20px;
    font-size: 18px;
    line-height: 30px;
  }

a {
  text-transform: uppercase;
  padding-top: 250px;
    color: #006230;
    font-size: 36px;
    font-weight: 500;

&>span {
    font-weight: 700;
    text-transform: capitalize;
padding-bottom: 30px;
}
}
.color_big {
  position: relative;
  z-index: 999;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    background: #fdc221;
    bottom: 21px;
    left: 0;
    z-index: -1;
}
}

}

}

.icon {
  width: 50px;
    height: 50px;
  text-align: center;
  line-height: 50px;
  color: $white;
  border-radius: 50%;
  border: 1px solid $white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 16px;
  transition: all linear .2s;
  background-color: transparent;
    opacity: 1;
&:hover {
    color: $theme;
    border-color: $theme;
  }
}

.left {
  left: 50px;
  z-index: 9;
}

.right {
  right: 50px;
}

.icon:hover {
  opacity: 1;
}

.slick-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: block !important;

li {
    list-style: none;
    display: inline-block;
    margin: 0 3px;

button {
    font-size: 0;
    border-radius: 50%;
    border: 0;
    width: 12px;
    height: 12px;
    background-color: #BABABB;
  }

&.slick-active {
  button {
    background-color: $theme;
  }
}
}
}

}
