@import "../variable/variable";
@import "../mixin/font";

.clients {
  margin-top: -20px;
}

.clients .clients-bg {
  padding-top: 80px;
  
  .view-all-btn {
    background-color: $black;
      color: $white;
    &:hover {
      background-color: $theme;
        color: $black;
    }
  }
}

.clients .clients-bg .client-slider a {
  padding: 0 30px;
  height: 184px;
  display: flex;
}

.clients .clients-bg .client-slider a img {
  object-fit: contain;
  transition: all 0.3s ease 0s;
}
