@import "../variable/variable";
@import "../mixin/font";

.pricing--plan {

  .pricing--plan--bg {
    background-color: #f2f2f2;
    padding: 80px 0;
    position: relative;
  }

  .pricing--plan--text--slider {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    flex-direction: row;
    white-space: nowrap;


    .pricing--plan--text--slider--title {
      @include font(156px, 700);
      color: #ddd;
      overflow: hidden;
    }
  }

  .pricing--plan--main {
    position: relative;
    z-index: 99;

    .pricing--plan--title {
      position: sticky;
      top: 80px;
      bottom: 0;
    }

    .pricing--plan--item {
      border-radius: 10px;
      background-color: $white;
      padding: 60px;
      position: relative;
      overflow: hidden;
      min-height: 292px;

      .best--price {
        @include font(14px, 500);
        background-color: $themeColor;
        display: inline-block;
        width: 165px;
        text-align: center;
        padding: 5px 10px;
        position: absolute;
        top: 23px;
        left: -44px;
        transform: rotate(311deg);
      }

      .prices {
        margin-left: 30px;
        .price--tagline {
          @include font(14px, 600);
          margin-bottom: 8px;
        }

        .total--price {
          @include font(52px, 700);

          span {
            @include font(16px, 600);
          }
        }
      }

      .list-info {
        ul {
          li {
            @include font(15px, 400);
            line-height: 26px;
            padding-left: 23px;
            margin-bottom: 8px;
            color: #5e5e5e;
            position: relative;

            i {
              position: absolute;
              top: 6px;
              left: 0;
            }
          }
        }
      }
    }

    .pricing--plan--item+.pricing--plan--item {
      margin-top: 24px;
    }
  }
}