@import "../variable/variable";
@import "../mixin/font";

.projects {
  padding-top: 80px;

  .projects--main {
    margin-top: 60px;

    .projects--item {
      margin: 0 12px;

      .projects--image {
        border-radius: 10px;
        overflow: hidden;
        position: relative;

        img {
          border-radius: 10px;
          transition: all 0.4s ease 0s;
        }

        &:hover {
          img {
            transform: scale(1.1);
          }
        }

        .projects--text {
          padding: 30px;
          padding-bottom: 40px;
          position: absolute;
          bottom: 0;
          left: 0;

          .projects--title {
            @include font(24px, 700);
            color: $black;
            margin-bottom: 10px;
            display: inline-block;
            padding: 5px 12px;
            // position: relative;
            z-index: 9;
            // opacity: 0;
            transition: all 0.3s ease 0s;
            opacity: 1;
              background-color: $white;
            border-radius: 5px;
// &::before {
  //   width: 0%;
  //   height: 100%;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   background-color: $white;
  //   content: "";
  //   z-index: -1;
  //   border-radius: 5px;
  //   transition: all 0.6s ease 0s;
  //   opacity: 1;
  // }
          }

          .projects--tagline {
            @include font(15px, 600);
            text-transform: uppercase;
            color: $black;
            display: inline-block;
            // position: relative;
            padding: 3px 12px;
            z-index: 9;
            // opacity: 0;
            transition: all 0.3s ease 0s;
            opacity: 1;
              border-radius: 5px;
              background-color: $themeColor;


            // &::before {
              //   position: absolute;
              //   top: 0;
              //   left: 0;
              //   width: 0%;
              //   height: 100%;
              //   background-color: $themeColor;
              //   content: "";
              //   z-index: -1;
              //   border-radius: 5px;
              //   transition: all 0.6s ease 0s;
              //   opacity: 1;
              // }
          }
        }
      }

                                                                                                                                                                                                                                                                                                                                                                                                // &:hover {

      //   .projects--title {
        //     opacity: 1 !important;

      //     &::before {
        //       width: 100% !important;
        //       opacity: 1 !important;
        //     }
        //   }

                                                                                                                                                                                                                                                                                                                                                                                                //   .projects--tagline {
                                                                                                                                                                                                                                                                                                                                                                                                //     opacity: 1 !important;

      //     &::before {
        //       width: 100% !important;
        //       opacity: 1 !important;
        //     }
        //   }
        // }
    }

    .project--sorting:nth-child(even) {
      margin-top: 48px;
    }
  }
}