@import "../variable/variable";
@import "../mixin/font";

.team-page {
  .title {
    font-size: 32px;
    padding-bottom: 8px;
    border-bottom: 3px solid $theme;
    margin: 15px 0 30px;
  }

  .team-item {
    background-color: $bg;
    margin-bottom: 24px;
    // padding: 25px;
    border-radius: 10px;
    border: 1px solid $purple;
    transition: $transition;
    
    .image {
      width: 210px;
      border-radius: 10px 0 0 10px;
      height: 250px;
      overflow: hidden;
      
      img {
        transition: all 0.3s ease 0s;
        object-fit: cover;
        height: 100%;
      }
    }
    
    .text {
      margin-top: 0;
      width: auto;
      padding: 25px;
      height: 250px;
      
      h5 {
        font-size: 24px;
        padding-bottom: 16px;
      }
      
      h6 {
        font-size: 16px;
        color: #818090;
        padding-bottom: 8px;
      }
      
      .social {
        opacity: 0;
        transition: $transition;
        padding-top: 70px;
        
        a {
          width: 30px;
          height: 30px;
          border-radius: 5px;
        }
      }
    }
    
    &:hover .text .social {
      opacity: 1;
      margin-top: -20px;
    }
                &:hover {
                  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.25);
                }
  }
}