@import "../variable/variable";
@import "../mixin/font";

.content-page {
padding-top: 60px;
margin-bottom: 60px;

.content-main {
background-color: $bg;
  padding: 40px;
margin-bottom: 30px;

  .image {
      float: left;
      margin-right: 24px;
      margin-bottom: 20px;
  
      img {
        border-radius: 10px;
        border-radius: 10px;
        width: 100%;
        max-height: 400px;
      }
    }
  
    p,
    ul,
    ol,
    table,
    .content-table {
      margin-bottom: 30px;
      color: $black;
    }
  
// h5 {
//   text-decoration: underline;
// }
  
    ul,
    ol {
      padding-top: 12px
    }
  
 ul>li::marker,
    ol>li::marker {
      font-weight: bold;
      font-size: 24px;
    }
  
    table {
      margin-top: 12px
    }
h1 {
@include font(32px, 700);
  margin-bottom: 40px;
  position: relative;
  padding: 15px 0;
  z-index: 1;
  padding-left: 24px;

&::before {
width: 360px;
  height: 100%;
background-image: linear-gradient(to right,
rgba(244, 70, 47, 0.4),
  #fff);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  content: "";
  z-index: -1;
}
}
p {
text-align: justify;
}

.background {
  p {
    padding-left: 10px;
    border-left: 5px solid $purple;
  }
}

ul {
li {
    // list-style: none;
margin-left: 30px;
  font-weight: bold;

// &::before {
  // font-family: "Font Awesome 5 Free";
  //   content: "\f058";
  // color: $theme;
  //   display: inline-block;
  //   padding-right: 15px;
  //   vertical-align: middle;
  //   font-weight: 900;
  //   font-size: 20px;
  // }
}
}

ol {
  li {
    margin-left: 30px;
  }
}
table {
// margin-left: 30px;

thead {
    background-color: $black;
  }
tr {
    th {
      min-width: 150px;
text-align: start;
}

td {
  padding: 15px 10px;
    vertical-align: middle;
}
}
}

.content-table {
  // margin-left: 30px;

  table thead tr {
    th span {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 45px;
    }
  }

  table tbody {
    tr:nth-child(odd) {
      background-color: #ffffff;
    }

    tr:nth-child(even) {
      background-color: #ededed;
    }

    td:first-child,
    td:nth-child(5),
    td:last-child {
      text-align: center;
    }

    td {
      img {
          max-width: 170px;
          max-height: 80px;
        }
      }
    }
  
    .action {
      background-color: red;
      border: 0;
      padding: 5px 10px;
      color: $white;
}
}

blockquote {
width: 100%;
display: inline-block;

p {
font-size: 24px;
  font-weight: 600;
  color: #666666;
  line-height: 40px;
padding: 20px 80px 20px 40px;
  background-color: white;
  border-bottom: 3px solid #ed1c24;
  position: relative;

&::before {
font-family: "Font Awesome 5 Free";
  content: "\f10d";
color: #ed1c24;
display: inline-block;
  padding-right: 30px;
  font-size: 30px;
}
}
}

.note {
p {
color: #ec0c0c;
  font-weight: bold;

&::before {
content: "**";
}

&::after {
content: "**";
}
}
}

.content-background-style {
background-color: red;
@include font(16px, 700);
  color: $white;
  padding: 8px;
  border-radius: 3px;
}

.content-border-style {
border-bottom: 1px solid $black;
padding-bottom: 10px;
  color: $black;
}
.content-after-border-style {
position: relative;
padding-bottom: 10px;
  color: $black;

&::before {
width: 100px;
  height: 2px;
  background-color: $black;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
}
}

.content-border-dash-style {
margin-top: 15px;
border: 2px dashed $black;
@include font(16px, 600);
  color: $black;
  padding: 6px 10px;
}

.content-border-dots-style {
border: 2px dotted $black;
@include font(16px, 600);
  color: $black;
  padding: 6px 10px;
}

}
}