@import "../variable/variable";
@import "../mixin/font";

.gallery-item {
  background-color: #f2f2f2;
  transition: all linear .2s;
  border: 1px solid #ddd;
  margin-bottom: 24px;
  
  .image {
    background-color: #ddd;
    height: 218px;
    overflow: hidden;
    position: relative;

    img {
      object-fit: cover;
      height: 100%;
      transition: all linear .2s;
    }

    i {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      right: 20px;
      width: 45px;
      height: 45px;
      background-color: #ffffff;
      border-radius: 50%;
      text-align: center;
      line-height: 45px;
      color: #ED1C24;
      font-size: 16px;
      -webkit-text-stroke: 1px;
    }
  }

  .text {
    padding: 14px;
    min-height: 116px;

    h6 {
      font-size: 16px;
      font-weight: 500;
      color: #002C42;
      line-height: 22px;
    }
  }

  &:hover .image img {
    transform: scale(1.1);
  }
}

.photo-gallery-view {
  padding: 60px 0;
}

.video-gallery-view {
  padding: 60px 0;

  .gallery-item .image i {
    font-size: 18px;
    padding-left: 4px;
  }
}
